header{
	display:flex;
	flex-direction: column;
	height:80px;
	background:#fffefa;
	align-items: center;
	justify-content: center;
}
.name-box{
	display:flex;
	font-weight: 700;
	font-size: 1.8em;
}

.back-button{
	position:fixed;
	font-size:2.5em;
	font-weight: 700;
	transition:all 0.2s;
}
.role-box{
	display:flex;
	font-weight: 400;
	font-size: 1.8em;
}

.name{
	font-weight: 700;
	font-size: 1.6rem;
	transform: scale(1,1) rotate(0deg) translate(0px,0px);
	transition: opacity 0.4s, transform 3s;
}

.role{
	font-weight: 400;
	font-size: 1.4rem;
	transform: scale(1,1) rotate(0deg) translate(0px,0px);
	transition: opacity 0.3s, transform 3s;

}

header>span:hover{
	cursor:pointer;
	color:grey;
}

@media screen and (min-width:575px){
	header{
		align-items: flex-start;
		border-bottom: solid 1px black;
		padding:25px;
		height:auto;
		padding-bottom:10px;
		padding-top:10px;
		margin-bottom:0;
		flex-direction: row;
	}

	.header-left{
		display:flex;
		flex-direction: column;
		flex:1;
		width:70%;
		height:80px;
		align-items: flex-start;
		justify-content: space-around;
	}
	.header-left>span:hover{
		cursor:pointer;
		color:grey;
	}

	.name{
		font-weight: 700;
		font-size: 1.8rem;
	}

	.role{
		font-size:1.8rem;
	}
	.header-right{
		height:80px;
		max-width:30%;
		font-size: 1.5em;
		display:flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-end;
	}
	.about-me-link{
		cursor:pointer;
	}
	.about-me-link:hover{
		color:grey;
	}
}

@media screen and (min-width:880px){
	header{
		margin-left:75px;
		margin-right:75px;
		padding:18.75px 0;
	}
}
