.tab-container{
	height:60px;
	display:flex;
	align-items: center;
	justify-content: space-around;
	background:#fffefa;
	border-top: 1px solid #d6d6d6;
	border-bottom: 3px solid #d6d6d6;
	transition:border-bottom-color 0.2s;
	position:relative;
	transform: translateZ(0);
}

.tab{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height:100%;
	width:100%;
}
.tab-projects{
	border-right: 1px solid #d6d6d6;
}
.tab-links{
	border-left: 1px solid #d6d6d6;
}
.tab-text{
	font-size: 0.8em;
	margin-top:5px;
	color: #595959;
	transition:transform 0.2s;
}
.triangle{
	opacity:0;
	width:1px;
	height:1px;
  border-style: solid;
  border-width: 10px 20px 0 20px;
  border-color: #6980fe transparent transparent transparent;
	position:absolute;
	transition:opacity 0.3s, transform 0.3s cubic-bezier(.14,1.73,.09,1), border-top-color 0.2s;
	z-index:3;
	transform: translateZ(0);
}
