.header{
	display:flex;
	flex-direction: column;
	height:80px;
	background:#fffefa;
	align-items: center;
	justify-content: center;
}

.mobileHeader {
	display:flex;
	flex-direction: column;
	height:80px;
	background:#fffefa;
	align-items: center;
	justify-content: center;
}

/* Mobile */
@media screen and (max-width: 574px){
  .header{
    display: none;
  }
}
/* Desktop */
@media screen and (min-width: 575px){
  .mobileHeader {
    display: none;
  }
}

.nameBox{
	display:flex;
	font-weight: 700;
	font-size: 1.8em;
}

.backButton{
	position:fixed;
	font-size:2.5em;
	font-weight: 700;
	transition:all 0.2s;
  cursor:pointer;
}

.backButton:hover{
  color:rgba(0,0,0,0.5);
}

.roleBox{
	display:flex;
	font-weight: 400;
	font-size: 1.8em;
}

.name{
	font-weight: 700;
	font-size: 1.6rem;
	transform: scale(1,1) rotate(0deg) translate(0px,0px);
	transition: opacity 0.4s, transform 3s;
}

.role{
	font-weight: 400;
	font-size: 1.4rem;
	transform: scale(1,1) rotate(0deg) translate(0px,0px);
	transition: opacity 0.3s, transform 3s;

}

@media screen and (min-width:575px){
	.header{
		align-items: flex-start;
		border-bottom: solid 1px black;
		padding:25px;
		height:auto;
		padding-bottom:10px;
		padding-top:10px;
		margin-bottom:0;
		flex-direction: row;
	}

	.headerLeft{
		display:flex;
		flex-direction: column;
		flex:1;
		width:70%;
		height:80px;
		align-items: flex-start;
		justify-content: space-around;
	}
	.headerLeft>span:hover{
		cursor:pointer;
		color:grey;
	}

	.name{
		font-weight: 700;
		font-size: 1.8rem;
	}

	.role{
		font-size:1.8rem;
	}
	.headerRight{
		height:80px;
		font-size: 1.5em;
		display:flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-end;
	}

  .headerRightNavLinks {
    display: flex;
  }

	.aboutMeLink{
		cursor:pointer;
	}
  .aboutMeLink:nth-child(1){
    margin-right:15px
  }
	.aboutMeLink:hover{
		color:grey;
	}
}

@media screen and (min-width:880px){
	.header{
		margin-left:75px;
		margin-right:75px;
		padding:18.75px 0;
	}
}
