.project-container{
	list-style: none;
	font-size: 1.3em;
	padding:0;
	margin:0;
	overflow: scroll;
	background:#fffefa;
	border:none;
}

.project-item{
	border:solid 1px #d6d6d6;
	box-sizing: border-box;
	border-bottom:none;
	background:#fffefa;
	padding:15px;
	height:55px;
	display:flex;
	align-items: center;
	justify-content: space-between;
}

.project-item:last-child{
	border:solid 1px #d6d6d6;
}

@media screen and (min-width:575px){
	.project-container{
		display:flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.project-item{
		padding:0;
		border:none;
		display:flex;
		flex-direction: column;
		font-size:1.3em;
		font-weight: 400;
		height:200px;
		width: 250px;
		overflow: hidden;
		/* margin:10px; */
	}
	.project-item:last-child{
		border:none;
	}

	.project-name-tag{
		padding:10px;
		width:100%;
		font-size:0.75em;
		text-align: center;
	}

	.img-container>img{
		width: 100%;
	}
	.img-container{
		overflow: hidden;
		border:solid 1px black;
		/* width: 100%; */
	}
}

@media screen and (min-width:600px){

}

@media screen and (min-width:880px){
	.project-item{
		width: 30%;
		height: 225px;
	}

	.img-container{
		height:170px;
		border:solid 1px black;
	}
}
